# Ignore Python virtual environments
venv/
.venv/

# Ignore Python bytecode caches
__pycache__/
.mypy_cache/
.pytest_cache/

# Ignore system files
.DS_Store
*.log

# Ignore Streamlit temporary files
.streamlit/
